In [1]:
import pandas as pd
import numpy as np

In [39]:
df= pd.read_csv(r'C:\Users\Randy\Documents\GitHub\DAV-6100-Final-Project\city_realty_raw_data_second_clean.csv')
df.head(5)

,price_listed,building_address,unit,building_type,days_on_market,bathrooms,bedrooms,hood,lat,listed_date,lng,sale_date,sale_price,sold,sqft
0,NaN,155 Freeman Street,4,condo,NaN,1 bath,1 bed,Greenpoint,40.734602,NaN,-73.955652,2015/7/9,1050000,True,904
1,NaN,111 Fulton Street,612,condo,NaN,1 bath,1 bed,Financial District,40.709926,NaN,-74.006561,2015/7/9,1039500,True,736
2,NaN,575 Park Avenue,1001,co-op,NaN,2 baths,2 beds,Park/Fifth Ave. to 79th St.,40.765023,NaN,-73.967604,2015/7/9,985000,True,0
3,NaN,10 West 15th Street,1719,co-op,NaN,1 bath,1 bed,Flatiron/Union Square,40.736893,NaN,-73.994104,2015/7/9,945000,True,0
4,NaN,273 Clifton Place,1B,condo,NaN,1.5 baths,2 beds,Bedford-Stuyvesant,40.689196,NaN,-73.952626,2015/7/9,939000,True,1291

In [40]:
for col in df.columns: 
    print(col)

price_listed
building_address
unit
building_type
days_on_market
bathrooms
bedrooms
hood
lat
listed_date
lng
sale_date
sale_price
sold
sqft

,building_address,hood,building_type,bedrooms,bathrooms,sqft,sold,price_listed,sale_price,listed_date,sale_date,days_on_market,sale_date_raw,lat,lng
0,155 Freeman Street,Greenpoint,condo,1 bed,1 bath,904,TRUE,NaN,"$1,050,000",NaN,9-Jul-15,NaN,2015/7/9,40.7346015,-73.9556518
1,111 Fulton Street,Financial District,condo,1 bed,1 bath,736,TRUE,NaN,"$1,039,500",NaN,9-Jul-15,NaN,2015/7/9,40.7099264,-74.0065609
2,575 Park Avenue,Park/Fifth Ave. to 79th St.,co-op,2 beds,2 baths,NaN,TRUE,NaN,"$985,000",NaN,9-Jul-15,NaN,2015/7/9,40.7650225,-73.9676044
3,10 West 15th Street,Flatiron/Union Square,co-op,1 bed,1 bath,NaN,TRUE,NaN,"$945,000",NaN,9-Jul-15,NaN,2015/7/9,40.7368926,-73.9941044
4,273 Clifton Place,Bedford-Stuyvesant,condo,2 beds,1.5 baths,"1,291",TRUE,NaN,"$939,000",NaN,9-Jul-15,NaN,2015/7/9,40.689196,-73.952626
5,1199 Park Avenue,Carnegie Hill,co-op,2 beds,2 baths,"1,100",TRUE,"$995,000","$895,000",3-Feb-12,9-Jul-15,-1252,2015/7/9,40.7852423,-73.9528992
6,145 Park Place,Park Slope,condo,1 bed,1 bath,"1,060",TRUE,"$675,000","$885,000",16-Mar-06,9-Jul-15,-3402,2015/7/9,40.6780701,-73.9737486
7,145 Park Place,Park Slope,condo,1 bed,1 bath,"1,060",TRUE,"$675,000","$885,000",16-Mar-06,9-Jul-15,-3402,2015/7/9,40.6780701,-73.9737486
8,1740 West 4th Street,Bensonhurst,condo,NaN,NaN,NaN,TRUE,NaN,"$865,512",NaN,9-Jul-15,NaN,2015/7/9,40.60513,-73.977268
9,1740 West 4th Street,Bensonhurst,condo,NaN,NaN,NaN,TRUE,NaN,"$865,512",NaN,9-Jul-15,NaN,2015/7/9,40.60513,-73.977268
10,301 West 57th Street,Midtown West,condo,Studio,1 bath,472,TRUE,"$550,000","$860,000",21-Apr-10,9-Jul-15,-1905,2015/7/9,40.7671247,-73.9830165
11,333 East 69th Street,Lenox Hill,co-op,1 bed,1 bath,NaN,TRUE,NaN,"$851,000",NaN,9-Jul-15,NaN,2015/7/9,40.7663635,-73.9580839
12,622 West 114th Street,Morningside Heights,co-op,2 beds,1 bath,800,TRUE,"$595,000","$851,000",8-Jul-09,9-Jul-15,-2192,2015/7/9,40.80699,-73.966129
13,42 West 120th Street,Harlem,condo,2 beds,2 baths,893,TRUE,NaN,"$850,000",NaN,9-Jul-15,NaN,2015/7/9,40.8036968,-73.9462476
14,185 West End Avenue,Lincoln Center,co-op,1 bed,1 bath,NaN,TRUE,NaN,"$805,000",NaN,9-Jul-15,NaN,2015/7/9,40.7774436,-73.9867626
15,246 Fifth Avenue,Park Slope,co-op,2 beds,1 bath,NaN,TRUE,NaN,"$799,000",NaN,9-Jul-15,NaN,2015/7/9,40.675356,-73.981492
16,16 West 16th Street,Flatiron/Union Square,co-op,Studio,1 bath,600,TRUE,"$750,000","$790,000",24-Apr-15,9-Jul-15,-76,2015/7/9,40.7375941,-73.9937739
17,176 Rockaway Avenue,Bedford-Stuyvesant,Townhouse,NaN,NaN,NaN,TRUE,NaN,"$785,000",NaN,9-Jul-15,NaN,2015/7/9,40.677165,-73.91108659
18,71 Orange Street,Brooklyn Heights,co-op,1 bed,1 bath,NaN,TRUE,NaN,"$780,000",NaN,9-Jul-15,NaN,2015/7/9,40.698844,-73.99277
19,71 Orange Street,Brooklyn Heights,co-op,1 bed,1 bath,NaN,TRUE,NaN,"$780,000",NaN,9-Jul-15,NaN,2015/7/9,40.698844,-73.99277
20,333 East 45th Street,Turtle Bay/United Nations,condo,1 bed,1 bath,552,TRUE,"$775,000","$775,000",29-Apr-15,9-Jul-15,-71,2015/7/9,40.751363,-73.9692225
21,325 East 77th Street,Lenox Hill,co-op,1 bed,1 bath,900,TRUE,"$895,000","$755,000",22-Jul-14,9-Jul-15,-352,2015/7/9,40.7717436,-73.9548333
22,1826 51st Street,Borough Park,condo,NaN,NaN,NaN,TRUE,NaN,"$750,000",NaN,9-Jul-15,NaN,2015/7/9,40.626631,-73.981808
23,1826 51st Street,Borough Park,condo,NaN,NaN,NaN,TRUE,NaN,"$750,000",NaN,9-Jul-15,NaN,2015/7/9,40.626631,-73.981808
24,1 Northside Piers,Williamsburg,condo,1 bed,1 bath,518,TRUE,NaN,"$749,000",NaN,9-Jul-15,NaN,2015/7/9,40.7192107,-73.9638958
25,1 Northside Piers,Williamsburg,condo,1 bed,1 bath,518,TRUE,NaN,"$749,000",NaN,9-Jul-15,NaN,2015/7/9,40.7192107,-73.9638958
26,126 Sterling Place,Park Slope,condo,1 bed,1 bath,640,TRUE,"$799,000","$720,250",6-Nov-06,9-Jul-15,-3167,2015/7/9,40.677102,-73.97434699
27,126 Sterling Place,Park Slope,condo,1 bed,1 bath,640,TRUE,"$799,000","$720,250",6-Nov-06,9-Jul-15,-3167,2015/7/9,40.677102,-73.97434699
28,593 17th Street,Windsor Terrace,condo,2 beds,1 bath,717,TRUE,NaN,"$695,000",NaN,9-Jul-15,NaN,2015/7/9,40.6564675,-73.97896679
29,7 Park Avenue,Murray Hill,co-op,1 bed,1 bath,800,TRUE,NaN,"$695,000",NaN,9-Jul-15,NaN,2015/7/9,40.7470956,-73.9808244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257861,372 Central Park West,NaN,condo,1 bed,1 bath,NaN,NaN,140000,1041570000,"$140,000",513,NaN,NaN,273,NaN
257862,185 Clinton Avenue,NaN,co-op,1 bed,1 bath,NaN,NaN,135000,1041570000,"$135,000",0,NaN,NaN,NaN,NaN
257863,181 East 65th Street,NaN,condo,4 beds,4 baths,NaN,NaN,5350000,1041483600,"$5,350,000",2807,NaN,NaN,1906,NaN
257864,1133 Park Avenue,NaN,co-op,3 beds,3 baths,NaN,NaN,2600000,1041483600,"$2,600,000",0,NaN,NaN,NaN,NaN
257865,60 East End Avenue,NaN,co-op,3 beds,3.5 baths,NaN,NaN,1400000,1041483600,"$1,400,000",0,NaN,NaN,NaN,NaN
257866,134 Duane Street,NaN,co-op,Studio,1 bath,NaN,NaN,915000,1041483600,"$915,000",1300,NaN,NaN,704,NaN
257867,37 West 12th Street,NaN,co-op,NaN,NaN,NaN,NaN,800000,1041483600,"$800,000",0,NaN,NaN,NaN,NaN
257868,22 Pierrepont Street,NaN,co-op,NaN,NaN,NaN,NaN,795000,1041483600,"$795,000",0,NaN,NaN,NaN,NaN
257869,255 West 92nd Street,NaN,condo,1 bed,1.5 baths,NaN,NaN,521500,1041483600,"$521,500",802,NaN,NaN,650,NaN
257870,125 West 12th Street,NaN,co-op,1 bed,1 bath,NaN,NaN,495000,1041483600,"$495,000",0,NaN,NaN,NaN,NaN
257871,6911 Shore Road,NaN,condo,NaN,NaN,NaN,NaN,405600,1041483600,"$405,600",0,NaN,NaN,NaN,NaN
257872,250 Mercer Street,NaN,co-op,Studio,1 bath,NaN,NaN,360000,1041483600,"$360,000",0,NaN,NaN,NaN,NaN
257873,160 East 38th Street,NaN,co-op,NaN,NaN,NaN,NaN,350129,1041483600,"$350,129",0,NaN,NaN,NaN,NaN
257874,460 Flushing Avenue,NaN,condo,NaN,NaN,NaN,NaN,304200,1041483600,"$304,200",0,NaN,NaN,NaN,NaN
257875,51-53 Lorimer Street,NaN,condo,2 beds,2 baths,NaN,NaN,280000,1041483600,"$280,000",1271,NaN,NaN,220,NaN
257876,430 East 77th Street,NaN,co-op,NaN,NaN,NaN,NaN,275000,1041483600,"$275,000",0,NaN,NaN,NaN,NaN
257877,81 Irving Place,NaN,co-op,1 bed,1 bath,NaN,NaN,275000,1041483600,"$275,000",500,NaN,NaN,550,NaN
257878,460 Flushing Avenue,NaN,condo,NaN,NaN,NaN,NaN,273780,1041483600,"$273,780",0,NaN,NaN,NaN,NaN
257879,100 West 57th Street,NaN,co-op,Studio,1 bath,NaN,NaN,240000,1041483600,"$240,000",650,NaN,NaN,369,NaN
257880,214 Riverside Drive,NaN,co-op,Studio,1 bath,NaN,NaN,225000,1041483600,"$225,000",0,NaN,NaN,NaN,NaN
257881,421 West 57th Street,NaN,co-op,Studio,1 bath,NaN,NaN,214000,1041483600,"$214,000",370,NaN,NaN,578,NaN
257882,457 West 57th Street,NaN,co-op,Studio,1 bath,NaN,NaN,179000,1041483600,"$179,000",400,NaN,NaN,448,NaN
257883,57 Montague Street,NaN,co-op,Studio,1 bath,NaN,NaN,175000,1041483600,"$175,000",0,NaN,NaN,NaN,NaN
257884,1208 Pacific Street,NaN,condo,2 beds,1.5 baths,NaN,NaN,165000,1041483600,"$165,000",740,NaN,NaN,223,NaN
257885,157 East 72nd Street,NaN,condo,1 bed,1 bath,NaN,NaN,160000,1041483600,"$160,000",560,NaN,NaN,286,NaN
257886,1410 Avenue S,NaN,co-op,NaN,NaN,NaN,NaN,132000,1041483600,"$132,000",0,NaN,NaN,NaN,NaN
257887,2427 East 29th Street,NaN,co-op,NaN,NaN,NaN,NaN,130000,1041483600,"$130,000",0,NaN,NaN,NaN,NaN
257888,2525 Nostrand Avenue,NaN,co-op,NaN,NaN,NaN,NaN,104033,1041483600,"$104,033",0,NaN,NaN,NaN,NaN
257889,400 Central Park West,NaN,condo,2 beds,2 baths,NaN,NaN,925000,1041397200,"$925,000",1150,NaN,NaN,804,NaN
257890,165 West 66th Street,NaN,co-op,2 beds,2 baths,NaN,NaN,865000,1041397200,"$865,000",0,NaN,NaN,NaN,NaN

In [58]:
pd.options.display.float_format = "{:.0f}".format
df.describe()

       price_listed  days_on_market    lat    lng  sale_price
count         59859           59859 257869 257869      257869
mean        1369246            -451     41    -74     1042172
std         1997810             545      0      0     1679453
min              -1           -6512     41    -74      100000
25%          549000            -520     41    -74      390322
50%          839000            -213     41    -74      625000
75%         1495000            -124     41    -74     1100000
max        99999999            1303     41    -74   100471453

In [59]:
df['sold'].unique()

array([ True])

In [48]:
df['price_listed'].count()

59859

In [60]:
df.describe(include='all')

,price_listed,building_address,unit,building_type,days_on_market,bathrooms,bedrooms,hood,lat,listed_date,lng,sale_date,sale_price,sold,sqft
count,59859,257869,257869,257869,59859,204825,205145,257869,257869,59837,257869,257869,257869,257869,257853
unique,nan,10577,16402,4,nan,12,8,83,nan,3033,nan,3615,nan,1,6415
top,nan,350 West 42nd Street,3A,condo,nan,1 bath,1 bed,Lenox Hill,nan,2009/5/4,nan,2003/2/20,nan,True,0
freq,nan,947,3630,126784,nan,113323,82127,15241,nan,954,nan,793,nan,257869,78462
mean,1369246,NaN,NaN,NaN,-451,NaN,NaN,NaN,41,NaN,-74,NaN,1042172,NaN,nan
std,1997810,NaN,NaN,NaN,545,NaN,NaN,NaN,0,NaN,0,NaN,1679453,NaN,nan
min,-1,NaN,NaN,NaN,-6512,NaN,NaN,NaN,41,NaN,-74,NaN,100000,NaN,nan
25%,549000,NaN,NaN,NaN,-520,NaN,NaN,NaN,41,NaN,-74,NaN,390322,NaN,nan
50%,839000,NaN,NaN,NaN,-213,NaN,NaN,NaN,41,NaN,-74,NaN,625000,NaN,nan
75%,1495000,NaN,NaN,NaN,-124,NaN,NaN,NaN,41,NaN,-74,NaN,1100000,NaN,nan
max,99999999,NaN,NaN,NaN,1303,NaN,NaN,NaN,41,NaN,-74,NaN,100471453,NaN,nan

In [63]:
df.drop(['sold'], inplace=True,axis=1)
df
df

,price_listed,building_address,unit,building_type,days_on_market,bathrooms,bedrooms,hood,lat,listed_date,lng,sale_date,sale_price,sqft
0,nan,155 Freeman Street,4,condo,nan,1 bath,1 bed,Greenpoint,41,NaN,-74,2015/7/9,1050000,904
1,nan,111 Fulton Street,612,condo,nan,1 bath,1 bed,Financial District,41,NaN,-74,2015/7/9,1039500,736
2,nan,575 Park Avenue,1001,co-op,nan,2 baths,2 beds,Park/Fifth Ave. to 79th St.,41,NaN,-74,2015/7/9,985000,0
3,nan,10 West 15th Street,1719,co-op,nan,1 bath,1 bed,Flatiron/Union Square,41,NaN,-74,2015/7/9,945000,0
4,nan,273 Clifton Place,1B,condo,nan,1.5 baths,2 beds,Bedford-Stuyvesant,41,NaN,-74,2015/7/9,939000,1291
5,995000,1199 Park Avenue,1H,co-op,-1252,2 baths,2 beds,Carnegie Hill,41,2012/2/3,-74,2015/7/9,895000,1100
6,675000,145 Park Place,2D,condo,-3402,1 bath,1 bed,Park Slope,41,2006/3/16,-74,2015/7/9,885000,1060
7,675000,145 Park Place,2D,condo,-3402,1 bath,1 bed,Park Slope,41,2006/3/16,-74,2015/7/9,885000,1060
8,nan,1740 West 4th Street,6G,condo,nan,NaN,NaN,Bensonhurst,41,NaN,-74,2015/7/9,865512,0
9,nan,1740 West 4th Street,6G,condo,nan,NaN,NaN,Bensonhurst,41,NaN,-74,2015/7/9,865512,0
10,550000,301 West 57th Street,7G,condo,-1905,1 bath,Studio,Midtown West,41,2010/4/21,-74,2015/7/9,860000,472
11,nan,333 East 69th Street,7F,co-op,nan,1 bath,1 bed,Lenox Hill,41,NaN,-74,2015/7/9,851000,0
12,595000,622 West 114th Street,61,co-op,-2192,1 bath,2 beds,Morningside Heights,41,2009/7/8,-74,2015/7/9,851000,800
13,nan,42 West 120th Street,3D,condo,nan,2 baths,2 beds,Harlem,41,NaN,-74,2015/7/9,850000,893
14,nan,185 West End Avenue,26H,co-op,nan,1 bath,1 bed,Lincoln Center,41,NaN,-74,2015/7/9,805000,0
15,nan,246 Fifth Avenue,2R,co-op,nan,1 bath,2 beds,Park Slope,41,NaN,-74,2015/7/9,799000,0
16,750000,16 West 16th Street,9VN,co-op,-76,1 bath,Studio,Flatiron/Union Square,41,2015/4/24,-74,2015/7/9,790000,600
17,nan,176 Rockaway Avenue,6,Townhouse,nan,NaN,NaN,Bedford-Stuyvesant,41,NaN,-74,2015/7/9,785000,0
18,nan,71 Orange Street,32,co-op,nan,1 bath,1 bed,Brooklyn Heights,41,NaN,-74,2015/7/9,780000,0
19,nan,71 Orange Street,32,co-op,nan,1 bath,1 bed,Brooklyn Heights,41,NaN,-74,2015/7/9,780000,0
20,775000,333 East 45th Street,21E,condo,-71,1 bath,1 bed,Turtle Bay/United Nations,41,2015/4/29,-74,2015/7/9,775000,552
21,895000,325 East 77th Street,3K,co-op,-352,1 bath,1 bed,Lenox Hill,41,2014/7/22,-74,2015/7/9,755000,900
22,nan,1826 51st Street,1,condo,nan,NaN,NaN,Borough Park,41,NaN,-74,2015/7/9,750000,0
23,nan,1826 51st Street,1,condo,nan,NaN,NaN,Borough Park,41,NaN,-74,2015/7/9,750000,0
24,nan,1 Northside Piers,20A,condo,nan,1 bath,1 bed,Williamsburg,41,NaN,-74,2015/7/9,749000,518
25,nan,1 Northside Piers,20A,condo,nan,1 bath,1 bed,Williamsburg,41,NaN,-74,2015/7/9,749000,518
26,799000,126 Sterling Place,3A,condo,-3167,1 bath,1 bed,Park Slope,41,2006/11/6,-74,2015/7/9,720250,640
27,799000,126 Sterling Place,3A,condo,-3167,1 bath,1 bed,Park Slope,41,2006/11/6,-74,2015/7/9,720250,640
28,nan,593 17th Street,4B,condo,nan,1 bath,2 beds,Windsor Terrace,41,NaN,-74,2015/7/9,695000,717
29,nan,7 Park Avenue,15A,co-op,nan,1 bath,1 bed,Murray Hill,41,NaN,-74,2015/7/9,695000,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257839,nan,372 Central Park West,4F,condo,nan,1 bath,1 bed,Central Park West,41,NaN,-74,2003/1/3,140000,513
257840,nan,185 Clinton Avenue,9B,co-op,nan,1 bath,1 bed,Clinton Hill,41,NaN,-74,2003/1/3,135000,0
257841,nan,181 East 65th Street,24B,condo,nan,4 baths,4 beds,Lenox Hill,41,NaN,-74,2003/1/2,5350000,2807
257842,nan,1133 Park Avenue,3W,co-op,nan,3 baths,3 beds,Carnegie Hill,41,NaN,-74,2003/1/2,2600000,0
257843,nan,60 East End Avenue,15B,co-op,nan,3.5 baths,3 beds,Yorkville,41,NaN,-74,2003/1/2,1400000,0
257844,nan,134 Duane Street,3S,co-op,nan,1 bath,Studio,Tribeca,41,NaN,-74,2003/1/2,915000,1300
257845,nan,37 West 12th Street,4F,co-op,nan,NaN,NaN,Greenwich Village,41,NaN,-74,2003/1/2,800000,0
257846,nan,22 Pierrepont Street,2,co-op,nan,NaN,NaN,Brooklyn Heights,41,NaN,-74,2003/1/2,795000,0
257847,nan,255 West 92nd Street,1D,condo,nan,1.5 baths,1 bed,Riverside Dr./West End Ave.,41,NaN,-74,2003/1/2,521500,802
257848,nan,125 West 12th Street,4E,co-op,nan,1 bath,1 bed,Greenwich Village,41,NaN,-74,2003/1/2,495000,0
257849,nan,6911 Shore Road,5A,condo,nan,NaN,NaN,Bay Ridge,41,NaN,-74,2003/1/2,405600,0
257850,nan,250 Mercer Street,B 701,co-op,nan,1 bath,Studio,Greenwich Village,41,NaN,-74,2003/1/2,360000,0
257851,nan,160 East 38th Street,14F,co-op,nan,NaN,NaN,Murray Hill,41,NaN,-74,2003/1/2,350129,0
257852,nan,460 Flushing Avenue,2B,condo,nan,NaN,NaN,Williamsburg,41,NaN,-74,2003/1/2,304200,0
257853,nan,51-53 Lorimer Street,4B,condo,nan,2 baths,2 beds,Williamsburg,41,NaN,-74,2003/1/2,280000,1271
257854,nan,430 East 77th Street,1,co-op,nan,NaN,NaN,Lenox Hill,41,NaN,-74,2003/1/2,275000,0
257855,nan,81 Irving Place,2G,co-op,nan,1 bath,1 bed,Gramercy Park,41,NaN,-74,2003/1/2,275000,500
257856,nan,460 Flushing Avenue,2A,condo,nan,NaN,NaN,Williamsburg,41,NaN,-74,2003/1/2,273780,0
257857,nan,100 West 57th Street,4B,co-op,nan,1 bath,Studio,Midtown West,41,NaN,-74,2003/1/2,240000,650
257858,nan,214 Riverside Drive,711,co-op,nan,1 bath,Studio,Riverside Dr./West End Ave.,41,NaN,-74,2003/1/2,225000,0
257859,nan,421 West 57th Street,1E,co-op,nan,1 bath,Studio,Midtown West,41,NaN,-74,2003/1/2,214000,370
257860,nan,457 West 57th Street,1116,co-op,nan,1 bath,Studio,Midtown West,41,NaN,-74,2003/1/2,179000,400
257861,nan,57 Montague Street,10F,co-op,nan,1 bath,Studio,Brooklyn Heights,41,NaN,-74,2003/1/2,175000,0
257862,nan,1208 Pacific Street,3C,condo,nan,1.5 baths,2 beds,Crown Heights,41,NaN,-74,2003/1/2,165000,740
257863,nan,157 East 72nd Street,2G,condo,nan,1 bath,1 bed,Lenox Hill,41,NaN,-74,2003/1/2,160000,560
257864,nan,1410 Avenue S,3B,co-op,nan,NaN,NaN,Gravesend,41,NaN,-74,2003/1/2,132000,0
257865,nan,2427 East 29th Street,1D,co-op,nan,NaN,NaN,Sheepshead Bay,41,NaN,-74,2003/1/2,130000,0
257866,nan,2525 Nostrand Avenue,2-L,co-op,nan,NaN,NaN,Flatlands,41,NaN,-74,2003/1/2,104033,0
257867,nan,400 Central Park West,14C,condo,nan,2 baths,2 beds,Central Park West,41,NaN,-74,2003/1/1,925000,1150
257868,nan,165 West 66th Street,PHB,co-op,nan,2 baths,2 beds,Lincoln Center,41,NaN,-74,2003/1/1,865000,0

In [64]:
df = df[['building_address',
         'unit',
         'hood',
         'building_type',
         'bedrooms',
         'bathrooms',
         'sqft',
         'price_listed',
         'sale_price',
         'listed_date',
         'sale_date',
         'days_on_market',
         'sale_date',
         'lat',
         'lng']]
df

,building_address,unit,hood,building_type,bedrooms,bathrooms,sqft,price_listed,sale_price,listed_date,sale_date,days_on_market,sale_date,lat,lng
0,155 Freeman Street,4,Greenpoint,condo,1 bed,1 bath,904,nan,1050000,NaN,2015/7/9,nan,2015/7/9,41,-74
1,111 Fulton Street,612,Financial District,condo,1 bed,1 bath,736,nan,1039500,NaN,2015/7/9,nan,2015/7/9,41,-74
2,575 Park Avenue,1001,Park/Fifth Ave. to 79th St.,co-op,2 beds,2 baths,0,nan,985000,NaN,2015/7/9,nan,2015/7/9,41,-74
3,10 West 15th Street,1719,Flatiron/Union Square,co-op,1 bed,1 bath,0,nan,945000,NaN,2015/7/9,nan,2015/7/9,41,-74
4,273 Clifton Place,1B,Bedford-Stuyvesant,condo,2 beds,1.5 baths,1291,nan,939000,NaN,2015/7/9,nan,2015/7/9,41,-74
5,1199 Park Avenue,1H,Carnegie Hill,co-op,2 beds,2 baths,1100,995000,895000,2012/2/3,2015/7/9,-1252,2015/7/9,41,-74
6,145 Park Place,2D,Park Slope,condo,1 bed,1 bath,1060,675000,885000,2006/3/16,2015/7/9,-3402,2015/7/9,41,-74
7,145 Park Place,2D,Park Slope,condo,1 bed,1 bath,1060,675000,885000,2006/3/16,2015/7/9,-3402,2015/7/9,41,-74
8,1740 West 4th Street,6G,Bensonhurst,condo,NaN,NaN,0,nan,865512,NaN,2015/7/9,nan,2015/7/9,41,-74
9,1740 West 4th Street,6G,Bensonhurst,condo,NaN,NaN,0,nan,865512,NaN,2015/7/9,nan,2015/7/9,41,-74
10,301 West 57th Street,7G,Midtown West,condo,Studio,1 bath,472,550000,860000,2010/4/21,2015/7/9,-1905,2015/7/9,41,-74
11,333 East 69th Street,7F,Lenox Hill,co-op,1 bed,1 bath,0,nan,851000,NaN,2015/7/9,nan,2015/7/9,41,-74
12,622 West 114th Street,61,Morningside Heights,co-op,2 beds,1 bath,800,595000,851000,2009/7/8,2015/7/9,-2192,2015/7/9,41,-74
13,42 West 120th Street,3D,Harlem,condo,2 beds,2 baths,893,nan,850000,NaN,2015/7/9,nan,2015/7/9,41,-74
14,185 West End Avenue,26H,Lincoln Center,co-op,1 bed,1 bath,0,nan,805000,NaN,2015/7/9,nan,2015/7/9,41,-74
15,246 Fifth Avenue,2R,Park Slope,co-op,2 beds,1 bath,0,nan,799000,NaN,2015/7/9,nan,2015/7/9,41,-74
16,16 West 16th Street,9VN,Flatiron/Union Square,co-op,Studio,1 bath,600,750000,790000,2015/4/24,2015/7/9,-76,2015/7/9,41,-74
17,176 Rockaway Avenue,6,Bedford-Stuyvesant,Townhouse,NaN,NaN,0,nan,785000,NaN,2015/7/9,nan,2015/7/9,41,-74
18,71 Orange Street,32,Brooklyn Heights,co-op,1 bed,1 bath,0,nan,780000,NaN,2015/7/9,nan,2015/7/9,41,-74
19,71 Orange Street,32,Brooklyn Heights,co-op,1 bed,1 bath,0,nan,780000,NaN,2015/7/9,nan,2015/7/9,41,-74
20,333 East 45th Street,21E,Turtle Bay/United Nations,condo,1 bed,1 bath,552,775000,775000,2015/4/29,2015/7/9,-71,2015/7/9,41,-74
21,325 East 77th Street,3K,Lenox Hill,co-op,1 bed,1 bath,900,895000,755000,2014/7/22,2015/7/9,-352,2015/7/9,41,-74
22,1826 51st Street,1,Borough Park,condo,NaN,NaN,0,nan,750000,NaN,2015/7/9,nan,2015/7/9,41,-74
23,1826 51st Street,1,Borough Park,condo,NaN,NaN,0,nan,750000,NaN,2015/7/9,nan,2015/7/9,41,-74
24,1 Northside Piers,20A,Williamsburg,condo,1 bed,1 bath,518,nan,749000,NaN,2015/7/9,nan,2015/7/9,41,-74
25,1 Northside Piers,20A,Williamsburg,condo,1 bed,1 bath,518,nan,749000,NaN,2015/7/9,nan,2015/7/9,41,-74
26,126 Sterling Place,3A,Park Slope,condo,1 bed,1 bath,640,799000,720250,2006/11/6,2015/7/9,-3167,2015/7/9,41,-74
27,126 Sterling Place,3A,Park Slope,condo,1 bed,1 bath,640,799000,720250,2006/11/6,2015/7/9,-3167,2015/7/9,41,-74
28,593 17th Street,4B,Windsor Terrace,condo,2 beds,1 bath,717,nan,695000,NaN,2015/7/9,nan,2015/7/9,41,-74
29,7 Park Avenue,15A,Murray Hill,co-op,1 bed,1 bath,800,nan,695000,NaN,2015/7/9,nan,2015/7/9,41,-74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257839,372 Central Park West,4F,Central Park West,condo,1 bed,1 bath,513,nan,140000,NaN,2003/1/3,nan,2003/1/3,41,-74
257840,185 Clinton Avenue,9B,Clinton Hill,co-op,1 bed,1 bath,0,nan,135000,NaN,2003/1/3,nan,2003/1/3,41,-74
257841,181 East 65th Street,24B,Lenox Hill,condo,4 beds,4 baths,2807,nan,5350000,NaN,2003/1/2,nan,2003/1/2,41,-74
257842,1133 Park Avenue,3W,Carnegie Hill,co-op,3 beds,3 baths,0,nan,2600000,NaN,2003/1/2,nan,2003/1/2,41,-74
257843,60 East End Avenue,15B,Yorkville,co-op,3 beds,3.5 baths,0,nan,1400000,NaN,2003/1/2,nan,2003/1/2,41,-74
257844,134 Duane Street,3S,Tribeca,co-op,Studio,1 bath,1300,nan,915000,NaN,2003/1/2,nan,2003/1/2,41,-74
257845,37 West 12th Street,4F,Greenwich Village,co-op,NaN,NaN,0,nan,800000,NaN,2003/1/2,nan,2003/1/2,41,-74
257846,22 Pierrepont Street,2,Brooklyn Heights,co-op,NaN,NaN,0,nan,795000,NaN,2003/1/2,nan,2003/1/2,41,-74
257847,255 West 92nd Street,1D,Riverside Dr./West End Ave.,condo,1 bed,1.5 baths,802,nan,521500,NaN,2003/1/2,nan,2003/1/2,41,-74
257848,125 West 12th Street,4E,Greenwich Village,co-op,1 bed,1 bath,0,nan,495000,NaN,2003/1/2,nan,2003/1/2,41,-74
257849,6911 Shore Road,5A,Bay Ridge,condo,NaN,NaN,0,nan,405600,NaN,2003/1/2,nan,2003/1/2,41,-74
257850,250 Mercer Street,B 701,Greenwich Village,co-op,Studio,1 bath,0,nan,360000,NaN,2003/1/2,nan,2003/1/2,41,-74
257851,160 East 38th Street,14F,Murray Hill,co-op,NaN,NaN,0,nan,350129,NaN,2003/1/2,nan,2003/1/2,41,-74
257852,460 Flushing Avenue,2B,Williamsburg,condo,NaN,NaN,0,nan,304200,NaN,2003/1/2,nan,2003/1/2,41,-74
257853,51-53 Lorimer Street,4B,Williamsburg,condo,2 beds,2 baths,1271,nan,280000,NaN,2003/1/2,nan,2003/1/2,41,-74
257854,430 East 77th Street,1,Lenox Hill,co-op,NaN,NaN,0,nan,275000,NaN,2003/1/2,nan,2003/1/2,41,-74
257855,81 Irving Place,2G,Gramercy Park,co-op,1 bed,1 bath,500,nan,275000,NaN,2003/1/2,nan,2003/1/2,41,-74
257856,460 Flushing Avenue,2A,Williamsburg,condo,NaN,NaN,0,nan,273780,NaN,2003/1/2,nan,2003/1/2,41,-74
257857,100 West 57th Street,4B,Midtown West,co-op,Studio,1 bath,650,nan,240000,NaN,2003/1/2,nan,2003/1/2,41,-74
257858,214 Riverside Drive,711,Riverside Dr./West End Ave.,co-op,Studio,1 bath,0,nan,225000,NaN,2003/1/2,nan,2003/1/2,41,-74
257859,421 West 57th Street,1E,Midtown West,co-op,Studio,1 bath,370,nan,214000,NaN,2003/1/2,nan,2003/1/2,41,-74
257860,457 West 57th Street,1116,Midtown West,co-op,Studio,1 bath,400,nan,179000,NaN,2003/1/2,nan,2003/1/2,41,-74
257861,57 Montague Street,10F,Brooklyn Heights,co-op,Studio,1 bath,0,nan,175000,NaN,2003/1/2,nan,2003/1/2,41,-74
257862,1208 Pacific Street,3C,Crown Heights,condo,2 beds,1.5 baths,740,nan,165000,NaN,2003/1/2,nan,2003/1/2,41,-74
257863,157 East 72nd Street,2G,Lenox Hill,condo,1 bed,1 bath,560,nan,160000,NaN,2003/1/2,nan,2003/1/2,41,-74
257864,1410 Avenue S,3B,Gravesend,co-op,NaN,NaN,0,nan,132000,NaN,2003/1/2,nan,2003/1/2,41,-74
257865,2427 East 29th Street,1D,Sheepshead Bay,co-op,NaN,NaN,0,nan,130000,NaN,2003/1/2,nan,2003/1/2,41,-74
257866,2525 Nostrand Avenue,2-L,Flatlands,co-op,NaN,NaN,0,nan,104033,NaN,2003/1/2,nan,2003/1/2,41,-74
257867,400 Central Park West,14C,Central Park West,condo,2 beds,2 baths,1150,nan,925000,NaN,2003/1/1,nan,2003/1/1,41,-74
257868,165 West 66th Street,PHB,Lincoln Center,co-op,2 beds,2 baths,0,nan,865000,NaN,2003/1/1,nan,2003/1/1,41,-74

In [67]:
df.to_csv(r'C:\Users\Randy\Documents\GitHub\DAV-6100-Final-Project\city_realty_cleand_data.csv', header=True, index=False)